In [1]:
#
import selenium
import pandas as pd

In [2]:
from selenium import webdriver

from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [101]:
import requests
import time

Q-1. Scrape the details of most viewed videos on YouTube from Wikipedia.
  Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
  You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) View

In [4]:
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [5]:
# go to the link from where we scrapping data 
driver.get(' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [9]:
# scrapping 'most_viewed_videos' from wikipedia
video= driver.find_elements(By.TAG_NAME,'td')   

Most_Viewed_Youtube_Videos= pd.DataFrame({})    # make dataframe

wiki = []
for i in video:
#    print(i.text.split('\n'))

    wiki.append(i.text.split('\n')[0])
    
Most_Viewed_Youtube_Videos['Rank'] = wiki[2:182:6]         # Rank of videos
Most_Viewed_Youtube_Videos['Name'] = wiki[3:182:6]          # Song name
Most_Viewed_Youtube_Videos['Artist']= wiki[4:182:6]              #    Artist name
Most_Viewed_Youtube_Videos['Viewers_in_Billion'] = wiki[5:182:6]       #  Viewers_in_Billion
Most_Viewed_Youtube_Videos['Upload_Date'] = wiki[6:182:6]                  # Upload_Date of Videos

In [73]:
Most_Viewed_Youtube_Videos

,Rank,Name,Artist,Viewers_in_Billion,Upload_Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.02,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.92,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.40,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.77,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.58,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.53,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.75,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.64,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.60,"February 27, 2018"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.50,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.49,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.24,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,4.00,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.73,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.62,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.61,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.57,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.48,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.44,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.32,"May 31, 2018"
20,21.,"""Dark Horse""[39]",Katy Perry,3.31,"February 20, 2014"
21,22.,"""Faded""[40]",Alan Walker,3.31,"December 3, 2015"
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,3.31,"June 25, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.27,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.24,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.24,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.21,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.20,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.19,"August 18, 2014"
29,30.,"""Mi Gente""[48]",J Balvin,3.11,"June 29, 2017"

In [74]:
driver.close()

#   Q 1. completed

Q-2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [10]:
#1  
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [11]:
#2  GO THE WEB_PAGE
driver.get('https://www.bcci.tv/')

In [12]:
#3      click to the fixture
driver.find_element(By.XPATH,'/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a').click()

In [14]:
#4    AGAIN CLICK MORE FIXTURE
driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button').click()

In [16]:
#
c= driver.find_elements(By.TAG_NAME,'h5')   #  scrapping details team India’s international fixtures from 'bcci.TV' webpage
ipl= []
for i in c:
    ipl.append(i.text)
date= ipl[2::6]                 # Series's play Date
time= ipl[3::6]                 # Series's play Time
Series = ipl[1::6]              #  Series's name


p =driver.find_elements(By.TAG_NAME,'span')
match= []
for i in p:
    match.append(i.text.split('\n')[0])
match_title=  match[13:93:6]                #  match_title
place= match[14:93:6]                       #  Seris where would be play

In [17]:
#6 make a DataFrame
Team_india= pd.DataFrame({'Date':date,'Time':time,'Place':place,'Match_title':match_title,'Series':Series})
Team_india

,Date,Time,Place,Match_title,Series
0,18 AUG 2022,12:45 PM IST,"Harare Sports Club,",1st ODI -,INDIA TOUR OF ZIMBABWE ODI SERIES 2022
1,20 AUG 2022,12:45 PM IST,"Harare Sports Club,",2nd ODI -,INDIA TOUR OF ZIMBABWE ODI SERIES 2022
2,22 AUG 2022,12:45 PM IST,"Harare Sports Club,",3rd ODI -,INDIA TOUR OF ZIMBABWE ODI SERIES 2022
3,28 AUG 2022,7:30 PM IST,"Dubai International Cricket Stadium,",1st T20I -,ASIA CUP 2022
4,31 AUG 2022,7:30 PM IST,"Dubai International Cricket Stadium,",2nd T20I -,ASIA CUP 2022
5,20 SEP 2022,7:30 PM IST,"Punjab Cricket Association IS Bindra Stadium,",1st T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022
6,23 SEP 2022,7:30 PM IST,"Vidarbha Cricket Association Stadium,",2nd T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022
7,25 SEP 2022,7:30 PM IST,"Rajiv Gandhi International Stadium,",3rd T20I -,AUSTRALIA TOUR OF INDIA T20 SERIES 2022
8,28 SEP 2022,7:30 PM IST,"Greenfield International Stadium,",1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23
9,2 OCT 2022,7:30 PM IST,"Barsapara Cricket Stadium,",2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23
10,4 OCT 2022,7:30 PM IST,"Holkar Cricket Stadium,",3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23
11,6 OCT 2022,1:30 PM IST,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,1st ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23
12,9 OCT 2022,1:30 PM IST,"JSCA International Stadium Complex,",2nd ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23
13,11 OCT 2022,1:30 PM IST,"Arun Jaitley Stadium,",3rd ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23

In [19]:
driver.close()

#   Q-2. COMPLETED

Q-3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
    Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [5]:
#
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [6]:
# go to the webpage
driver.get('https://www.guru99.com/')

In [7]:
# clicking selenium option
driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a').click()

In [8]:
# click on selenium exception 
driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a').click()

In [63]:

excep = driver.find_elements_by_tag_name('tr')

exception_name= []
description= []
for i in excep:
    exception_name.append(re.split(r'\s',i.text, maxsplit=1)[0])     # exception name
    description.append(re.split(r'\s',i.text, maxsplit=1)[1])        #   exception description

In [66]:
selenium= pd.DataFrame({'Exception':exception_name, 'Description':description})
selenium

,Exception,Description
0,Exception,name Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [67]:
driver.close()

#    Q-3.  COMPLETED

Q-4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
    Note: - From statisticstimes home page you have to reach to economy page through code.

In [61]:
#
driver4 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [62]:
# go to the web_page
driver4.get('http://statisticstimes.com/')

In [68]:
# click on economic option
driver4.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

In [69]:
# selecting INDIA  
driver4.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()

In [70]:
# click on  GDP STATE WISE
driver4.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [112]:
#
URL= [driver4.find_elements(By.XPATH,'//td[@class= "data1"]'), driver4.find_elements(By.XPATH,'//td[@class= "name"]'),
      driver4.find_elements(By.XPATH,'//td[@class= "data sorting_1"]')]

info = []
for i in URL:
    for n in i:
        info.append(n.text)
        
Rank= info[0:33]              #   state Rank
State= info[68:101]           #   State Name
GSDP18_19= info[136:169]         #    GSDP 18-19

In [113]:
#
r = driver4.find_elements(By.XPATH,'//td[@class= "data"]')
gd= []
for i in r:
    gd.append(i.text)
share18_19 = gd[1:165:5]      #  SHARE 18-19
GDP2019 = gd[2:165:5]         # GDP 2019
GSDP19_20 = gd[0:165:5]         #  GSDP 19-20

In [117]:
economic= pd.DataFrame({'Rank':Rank,'State':State,'GSDP-18_19':GSDP18_19,'GSDP19_20':GSDP19_20,'GDP-2019':GDP2019,'share-18_19':share18_19})
economic

   Rank                      State GSDP-18_19  GSDP19_20 GDP-2019 share-18_19
0     1                Maharashtra  2,632,792          -  399.921      13.94%
1     2                 Tamil Nadu  1,630,208  1,845,853  247.629       8.63%
2     3              Uttar Pradesh  1,584,764  1,687,818  240.726       8.39%
3     4                    Gujarat  1,502,899          -  228.290       7.96%
4     5                  Karnataka  1,493,127  1,631,977  226.806       7.91%
5     6                West Bengal  1,089,898  1,253,832  165.556       5.77%
6     7                  Rajasthan    942,586  1,020,989  143.179       4.99%
7     8             Andhra Pradesh    862,957    972,782  131.083       4.57%
8     9                  Telangana    861,031    969,604  130.791       4.56%
9    10             Madhya Pradesh    809,592    906,672  122.977       4.29%
10   11                     Kerala    781,653          -  118.733       4.14%
11   12                      Delhi    774,870    856,112  117.703       4.10%
12   13                    Haryana    734,163    831,610  111.519       3.89%
13   14                      Bihar    530,363    611,804   80.562       2.81%
14   15                     Punjab    526,376    574,760   79.957       2.79%
15   16                     Odisha    487,805    521,275   74.098       2.58%
16   17                      Assam    315,881          -   47.982       1.67%
17   18               Chhattisgarh    304,063    329,180   46.187       1.61%
18   19                  Jharkhand    297,204    328,598   45.145       1.57%
19   20                Uttarakhand    245,895          -   37.351       1.30%
20   21            Jammu & Kashmir    155,956          -   23.690       0.83%
21   22           Himachal Pradesh    153,845    165,472   23.369       0.81%
22   23                        Goa     73,170     80,449   11.115       0.39%
23   24                    Tripura     49,845     55,984    7.571       0.26%
24   25                 Chandigarh     42,114          -    6.397       0.22%
25   26                 Puducherry     34,433     38,253    5.230       0.18%
26   27                  Meghalaya     33,481     36,572    5.086       0.18%
27   28                     Sikkim     28,723     32,496    4.363       0.15%
28   29                    Manipur     27,870     31,790    4.233       0.15%
29   30                   Nagaland     27,283          -    4.144       0.14%
30   31          Arunachal Pradesh     24,603          -    3.737       0.13%
31   32                    Mizoram     22,287     26,503    3.385       0.12%
32   33  Andaman & Nicobar Islands          -          -        -           -

In [118]:
driver4.close()

#  Q-4.  COMPLETED

Q-5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

    Note: - From the home page you have to click on the trending option from Explore menu through code

In [20]:
#
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [21]:
# GO TO THE GITHUB.COM WEB PAGE
driver.get('https://github.com/')

In [23]:
#  CLICK ON THE EXPLORE OPTION
driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()

In [24]:
#  now click on trending repositories
driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a').click()

In [60]:
tag= driver.find_elements(By.XPATH,'//p[@class= "col-9 color-fg-muted my-1 pr-4"]')  # repository description
description= []
for i in tag:
    description.append(i.text.split('\n'))
    
tag= driver.find_elements(By.XPATH,'//span[@itemprop= "programmingLanguage"]')    # repository  langauge
LANGUAGE= []
for i in tag:
    LANGUAGE.append(i.text)
    
tag= driver.find_elements(By.XPATH,'//h1[@class= "h3 lh-condensed"]')   #  repository 
repository= []
for i in tag:
    repository.append(i.text)

In [59]:
#
print(len(repository),len(LANGUAGE), len(description))

25 21 24

Q-6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
    Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [211]:
driver6 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [220]:
# go to the webpage 
driver6.get('https://www.billboard.com/')

In [221]:
#  clicking top 100 songs
driver6.find_element(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[1]').click()

In [295]:
# scrapping 'songs_name','artist','last_week_rank',.. of top 100 pop songs from 'billbord.com'

nam= driver6.find_elements_by_tag_name('ul')
top= []
for i in nam:
    top.append(i.text.split('\n'))
# creating empty list for appending data    
Songs_name= []
Artist= []
Last_week_rank= []
Peak_rank= []
Weeks_on_board= []

for i in top[7:305:3]:
    Songs_name.append(i[0])        #   top 100 songs_name
    Artist.append(i[1])             #  artist name
    Last_week_rank.append(i[2])      #  Last_week_rank
    Peak_rank.append(i[3])           #    Peak_rank
    Weeks_on_board.append(i[4])         #   Weeks_on_board

In [300]:
pd.DataFrame({'Songs_name':Songs_name,'Artist':Artist,'Last_week_rank':Last_week_rank,
              'Peak_rank':Peak_rank,'Weeks_on_board':Weeks_on_board})

,Songs_name,Artist,Last_week_rank,Peak_rank,Weeks_on_board
0,About Damn Time,Lizzo,1,1,15
1,As It Was,Harry Styles,2,1,17
2,Running Up That Hill (A Deal With God),Kate Bush,3,3,29
3,First Class,Jack Harlow,4,1,16
4,Wait For U,Future Featuring Drake & Tems,5,1,13
...,...,...,...,...,...
95,Te Felicito,Shakira & Rauw Alejandro,95,67,8
96,Are You Entertained,Russ & Ed Sheeran,-,97,1
97,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,-,98,1
98,Right On,Lil Baby,97,13,15
99,La Corriente,Bad Bunny & Tony Dize,99,32,9

In [301]:
driver6.close()

#  Q-6. COMPLETED

Q-7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
    Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
        click on search. All this should be done through code

In [176]:
driver7 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [177]:
#go to the wepage 
driver7.get('https://www.naukri.com/hr-recruiters-consultants')

In [179]:
#  clicking data scientist 
ds_recruiter= driver7.find_element_by_xpath('/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
ds_recruiter.send_keys('data scientist')
ds_recruiter.send_keys(Keys.ENTER)

In [206]:
# scrapping  details of Data science recruiters from web_page as. name, company, location, skills, desgination 

name = driver7.find_elements_by_xpath('//a[@class= "ellipsis"]')
com= []
for i in name:
    com.append(i.text)
Name= com[0::2]                #   recruiter name
Company= com[1::2]             #   company name

s = driver7.find_elements_by_xpath('//div[@class= "hireSec highlightable"]')   # scrapping skills
Skill = []
for i in s:
    Skill.append(i.text)
    
l = driver7.find_elements_by_xpath('//small[@class= "ellipsis"]')  # scrapping  location
Location= []
for i in l:
    Location.append(i.text)
    
d = driver7.find_elements_by_xpath('//span[@class= "ellipsis clr"]')  # scrapping  Designation
Designation= []
for i in d:
    Designation.append(i.text)

In [210]:
print('Name=',len(Name),'\n','Company=',len(Company),'\n','Skill=',len(Skill),'\n','Location',len(Location),'\n','Designation=',len(Designation))

Name= 50
 Company= 50
 Skill= 50
 Location 49
 Designation= 50

In [211]:
driver7.close()

#     Q-7. COMPLETED

Q-8. Scrape the details of Highest selling novels.
URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [138]:
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [139]:
#   go to the webpage
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [220]:
#  scrapping the Highest selling novels data from web elements
novel= driver.find_elements_by_tag_name('td')
Novel= []
for i in novel:
    Novel.append(i.text.split('\n')[0])

In [229]:

# storing the Highest selling novels data

Book_name = (Novel[2::6])
Author = (Novel[3::6])
Volumes_sold = (Novel[4::6])
Publisher = (Novel[5::6])
Genre = (Novel[6::6])

In [230]:
pd.DataFrame({'Book_name':Book_name,'Author':Author,'Volumes_sold':Volumes_sold, 'Publisher':Publisher,'Genre':Genre})

,Book_name,Author,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [232]:
driver.close()

#    Q-8. completed

Q-9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Vote

In [4]:
driver9 = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [5]:
# go to link
driver9.get('https://www.imdb.com/list/ls095964455/')

In [131]:
#   scarpping most watched tv_series  'NAME', 'YEAR'
Name = []
Year_span = []
name= driver9.find_elements(By.TAG_NAME,'h3')
for i in name:    
    Year_span.append(i.text.split(' (')[1][0:-1])
    Name.append(i.text.split(' (')[0][3:])

In [83]:

Ratings = []          #  creating empty list 
Genre = []            #
Runtime = []           #
Vote = []              #

rate= driver9.find_elements_by_xpath('//div[@class= "ipl-rating-star small"]')  # Ratings 
for i in rate:
    Ratings.append(i.text)
    
gen= driver9.find_elements_by_xpath('//span[@class= "genre"]')    #  Genre 
for g in gen:
    Genre.append(g.text)
    
time= driver9.find_elements_by_xpath('//span[@class= "runtime"]')    #  Runtime
for g in time:
    Runtime.append(g.text)
    
vote = driver9.find_elements_by_xpath('//span[@name= "nv"]')    #  Vote
for g in vote:
    Vote.append(g.text)

In [134]:
tv_series= pd.DataFrame({'Name':Name,'Year':Year_span,'Genre':Genre,'Runtime':Runtime,'Ratings':Ratings,'Vote':Vote})

In [135]:
tv_series.head(100)

,Name,Year,Genre,Runtime,Ratings,Vote
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,019,793"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"1,114,931"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.2,"959,128"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"286,743"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"246,337"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"49,243"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"60,109"
97,Criminal Minds,2005–2020,"Crime, Drama, Mystery",42 min,8.1,"193,305"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"40,790"
99,. The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"233,074"

In [136]:
driver9.close()

#   Q9. completed

Q-10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [212]:
driver = webdriver.Chrome(r'C:\Users\acer\INTERNSHIP_WORSHEET\chromedriver.exe')

In [219]:
#  GOTO THE web page
driver.get('https://archive.ics.uci.edu/')

In [215]:
# click to the view all datasets
driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a').click()

In [293]:
dataset= driver.find_elements_by_xpath('//p[@class= "normal"]')

uci= []
for i in dataset:
    uci.append(i.text)
    
Name= uci[8:4362:7]              #      Dataset's name
year= uci[14::7]             #      Year
data_types= uci[9:4362:7]        #      Data_types
task = uci[10::7]             #     Task
attribute_type= uci[11::7]    #      Attribute types
instances= uci[12::7]         #      no. of Instances
attribute= uci[13::7]          #     Attribute

In [295]:
ML_Dataset= pd.DataFrame({'Name':Name,'Data_types':data_types,'Task':task,'Attribute_type':attribute_type,
              'Instances':instances,'attribute':attribute,'Year':year})
ML_Dataset

,Name,Data_types,Task,Attribute_type,Instances,attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [297]:
ML_Dataset.shape
#ML_Dataset.to_csv('UCI_ML_Dataset.csv')

(622, 7)

In [298]:
driver.close()

#  Q-10.  COMPLETED